node_modules/
dist/
.env
object_detector/cmake_install.cmake
object_detector/CMakeCache.txt
object_detector/Makefile
object_detector/object_detector
object_detector/CMakeFiles/
object_detector/yolov3.weights
